URI.parse... not so safe after all

Thanks to @Katee, we now know that `URI.parse` is not so safe. The following schemas break intended behavior:

`@example.io/open-redirect`
`////example.io/open-redirect`
 `-example.io/open-redirect`

As such, we'll need to change our documentation and approach.

This appears to be an issue with the ruby URI code, [found here](https://github.com/ruby/ruby/blob/trunk/lib/uri/generic.rb).

My guess is that the `check_path` method is probably trying to account for mail schemas in addition to http. 


I've created an example app on Heroku with two endpoints, I've only tested how some of the stranger looking redirects (like http://uri-parse-redirect.herokuapp.com/owasp?redirect=@kate.io/open-redirect) work in Chrome.

## Examples with current code from OWASP wiki

These are all open redirects:

* http://uri-parse-redirect.herokuapp.com/owasp?redirect=@kate.io/open-redirect
* http://uri-parse-redirect.herokuapp.com/owasp?redirect=////kate.io/open-redirect
* http://uri-parse-redirect.herokuapp.com/owasp?redirect=-kate.io/open-redirect (would have to buy a domain to make this one work)
* http://uri-parse-redirect.herokuapp.com/owasp?redirect=.kate.io/open-redirect

This endpoint uses the the following logic:

```ruby
def owasp_redirect_path(url)
  # this logic is lifted from
  # https://www.owasp.org/index.php/Ruby_on_Rails_Cheatsheet#Redirects_and_Forwards
  begin
    if path = URI.parse(url).path
      return path
    end
  rescue URI::InvalidURIError
    return '/'
  end
 end
```

## Example with more restrictive redirect

With a bit more checking we can avoid all of the above issues, but there could definitely be some way around it I am missing.

### None of these are open redirects:

* http://uri-parse-redirect.herokuapp.com/redirect?redirect=@kate.io/open-redirect
* http://uri-parse-redirect.herokuapp.com/redirect?redirect=////kate.io/open-redirect
* http://uri-parse-redirect.herokuapp.com/redirect?redirect=-kate.io/open-redirect
* http://uri-parse-redirect.herokuapp.com/redirect?redirect=.kate.io/open-redirect

This endpoint uses the following logic

```ruby
def safe_redirect_path(url, default_path = '/')
  path = URI.parse(url).path || ""

  # optional, don't do this if an attacker controlling query params could be dangerous
  path += "?#{uri.query}"  if uri.query

  raise URI::InvalidURIError  unless path.start_with?("/")
  raise URI::InvalidURIError  if path.start_with?("//")

  path
rescue URI::InvalidURIError
  default_path
end
```



Awesome @Katee ! Great info. What I'd like to do is dig into the code a bit of URI to see exactly _what_ it does not handle properly. Won't be during the day today, but I am hoping for some cycles this evening.

Cheers!!!

Interestingly enough @Katee I also discovered urllib (Python) seems to suffer from the same issue:

```
In [1]: from urllib.parse import urlparse

In [2]: o = urlparse('http://somesite.com/test')

In [3]: o.path
Out[3]: '/test'

In [4]: o = urlparse('@example.io/open-redirect')

In [5]: o.path
Out[5]: '@example.io/open-redirect'

In [6]: o = urlparse('////example.io/open-redirect')

In [7]: o.path
Out[7]: '//example.io/open-redirect'

In [8]: o = urlparse('-example.io/open-redirect')

In [9]: o.path
Out[9]: '-example.io/open-redirect'
```

Isn't this the same behavior as #188 ?

#188 is more of a functional bug AFAICT whereas this is a failure in the `parse` method to properly parse path and host from a security perspective. Our recommended bug fix just needs to be changed in the wiki docs (but tested thoroughly first).

They are the same bug.

Namely failing to note that URIs are not URLs, and to correctly validate the path portion of the URI as a URL path.

Basically you're saying that it's a URI parser bug that a valid URI path can contain a string value that a browser implementation could possibly interpret as valid absolute url, when you only want to allow a relative url. This is false, though it is starting to descend down into the politically ugly rabbit hole of the of difference in definitions of URI and URL between whatwg, and IETF.

Matching `path ~= /\A\/[^\/]/` and `Rails.application.routes.recognize_path(path)` are two slightly different methods of doing the same thing, validating the your path refers to resource on the same host as the request. The latter is just a bit more open about accepting input, and preforms an extra bit of validation.



I think you're right about confusing URL parsing with URI parsing. Was not at all aware of `Rails.application.routes.recognize_path(path)` so thank you for that.

🍻 

I wasn't aware of it either till I saw #188.

Getting URIs and URLs all twisted up is a pretty common thing.

I also learned some odd things about ruby's URI implementation.  

Namely, it's normalization doesn't do much (leaves paths unchanged), and `URI::HTTP::build` does not implement [RFC1808](https://www.ietf.org/rfc/rfc1808.txt). Which results in things like:
```
[137] pry(main)> URI::HTTP::build({path:'/as'}).to_s
=> "http:/as"
```
Which makes it unusable in this case.

That said I like `Rails.application.routes.recognize_path(path)` a bit better, but it restricts you to resources served by your current rails app, which may or may not be desirable.

What I really should do is implement `URI::URL` with support for both IETF( [RFC1738](https://www.ietf.org/rfc/rfc1738.txt), [RFC1808](https://www.ietf.org/rfc/rfc1808.txt), [RFC3987](https://www.ietf.org/rfc/rfc3987.txt), [RFC4723](https://www.ietf.org/rfc/rfc4723.txt) ) and [whatswg](https://url.spec.whatwg.org/) based parsers. But the two char regex works, and right now I don't want to bother.

If you're looking for a gem based solution instead, you might want to check out [sporkmonger/addressable](https://github.com/sporkmonger/addressable)








Hey @ctricky, suggestion, since the current advice leads to a vulnerability and has been broken for quite a while. Writing a proper URL parser is probably not going to be reasonably in scope. The `addressable` gem seems nice, but again that's probably heavyweight.

1. I can make a change to https://github.com/OWASP/railsgoat/wiki/A10-Unvalidated-Redirects-and-Forwards-(redirect_to) that walks through the `URI.parse(...).path` case, and then demonstrates that this is still insufficient. 
2. Talk through the use of whitelisting via `Rails.application.routes.recognize_path(path)`, since that is a little bit more "blessed" railsy way.
3. Mention the use of a regex-based whitelist for other domains, perhaps?

Overall, discouraging redirection through different domains is probably going to be the biggest takeaway for students who are new to security.

@jmmastey I'd tend to agree, and is a part of why this issue has stuck here for so long. Think the course of action you mention is the best way to handle.

It might be useful to give a _brief_ mention on the difference between URLs and URIs as well. The understanding the _why_ of this issue might help as much as the what to do about it. I doubt this is the only place most people who write online applications will get into trouble with this.


You're right @flarecriteria in fact, just this week I saw this issue come up. Understanding the multi-schema support is a big part of knowing.

![image](https://user-images.githubusercontent.com/544667/30559755-b2e88332-9c83-11e7-8ebc-cd6f4fe699d6.png)


@cktricky Can we actually put  **URIs as URLs** as A10? I would think that would be anti-pattern and then **A10 Unvalidated Redirects and Forwards** just an instance of it.


My understanding is that the naming is specifically meant to match to the 2013 OWASP Top 10 list. I wonder if there's another item from the list that best matches mistaking URLs and URIs (which I agree is an important issue).

Regardless of placement, we should cover both topics.

Since the title's match up with the OWASP Top 10 (immutable except in the instance the categories themselves change - which, will happen with the 2017 version) - I'd imagine the sanest course of action would just reference the additional write-up **from** A10 (and make a separate write-up) *but* keep the title the same.

What do y'all think of this solution?

https://github.com/jmmastey/railsgoat-wiki/pull/1

(there's no version control on the wiki itself, so I figured this would be a useful diff. I'll just push up directly to the wiki when we nail down the right verbiage)

I like the write-up, it definitely clarifies the difference between URL/URI and shows the history of how the recommendations evolved. Nicely done 💯 

The only question I have is, what do you think if we swapped out this:

```ruby
WHITELISTED_URLS = [
  /\Ahttp:\/\/google.com\/.*\z/,
  /\Ahttp:\/\/mysite.com\/.*\z/,
]

unless WHITELISTED_URLS.any? { |pattern| path =~ pattern }
  raise ActionController::RoutingError 
end

redirect_to path
```

With something like this:

```ruby
WHITELISTED_URLS = [
  "google.com",
  "railsgoat.cktricky.com",
]

parsed_host = URI.parse(params[:url]).host

unless WHITELISTED_URLS.include?(parsed_host)
 raise ActionController::RoutingError
end
```

I'd imagine even if the user || attacker supplies garbage data, you still won't get the host to match-up with the whitelist. Was just thinking to avoid wonky regexp (and also easier http(s) support). Open to suggestions. 👍 

It's an interesting upgrade, because it does _technically_ solve the URI parse issue:

```
URI.parse('@example.io/open-redirect').host
=> nil
```

The only thing I really don't like about it is that it seems to bury the URI fix itself as a side effect of the `parse` method. Let me try to work it into the text.

Okay, take a look now @ctricky. 

Took a look, and looks great @jmmastey 👍  

Thank you!!!

Done and closing!

Thank you, and I owe you a look at those other open PRs 🤘 
